<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>county</key>
		<string>Alexander</string>
		<key>email1</key>
		<string>kathy_bunton@ncsu.edu</string>
		<key>email2</key>
		<string>allison_brown@ncsu.edu</string>
		<key>email3</key>
		<string></string>
		<key>name1</key>
		<string>Kathy Bunton</string>
		<key>name2</key>
		<string>Allison Brown</string>
		<key>name3</key>
		<string></string>
		<key>phone1</key>
		<string>828-632-4451</string>
		<key>phone2</key>
		<string></string>
	</dict>
	<dict>
		<key>county</key>
		<string>Ashe </string>
		<key>email1</key>
		<string>micah_orfield@ncsu.edu</string>
		<key>email2</key>
		<string></string>
		<key>email3</key>
		<string></string>
		<key>name1</key>
		<string>Micah Orfield</string>
		<key>name2</key>
		<string></string>
		<key>name3</key>
		<string></string>
		<key>phone1</key>
		<string>336-846-5850</string>
		<key>phone2</key>
		<string></string>
	</dict>
	<dict>
		<key>county</key>
		<string>Beaufort</string>
		<key>email1</key>
		<string>marnold@beaufort.k12.nc.us</string>
		<key>email2</key>
		<string>scotth@beaufort.k12.nc.us</string>
		<key>email3</key>
		<string></string>
		<key>name1</key>
		<string>Mila Arnold</string>
		<key>name2</key>
		<string>Heather Scott</string>
		<key>name3</key>
		<string></string>
		<key>phone1</key>
		<string></string>
		<key>phone2</key>
		<string></string>
	</dict>
	<dict>
		<key>county</key>
		<string>Burke</string>
		<key>email1</key>
		<string>dstamey@burke.k12.nc.us</string>
		<key>email2</key>
		<string>ncostello@burke.k12.nc.us</string>
		<key>email3</key>
		<string></string>
		<key>name1</key>
		<string>Debbie Stamey</string>
		<key>name2</key>
		<string>Nikki Costello</string>
		<key>name3</key>
		<string></string>
		<key>phone1</key>
		<string></string>
		<key>phone2</key>
		<string></string>
	</dict>
	<dict>
		<key>county</key>
		<string>Catawba</string>
		<key>email1</key>
		<string>donna_mull@ncsu.edu</string>
		<key>email2</key>
		<string></string>
		<key>email3</key>
		<string></string>
		<key>name1</key>
		<string>Donna Mull</string>
		<key>name2</key>
		<string></string>
		<key>name3</key>
		<string></string>
		<key>phone1</key>
		<string>828-465-8240</string>
		<key>phone2</key>
		<string></string>
	</dict>
	<dict>
		<key>county</key>
		<string>Camden </string>
		<key>email1</key>
		<string>melissa@nc.net</string>
		<key>email2</key>
		<string></string>
		<key>email3</key>
		<string></string>
		<key>name1</key>
		<string>Melissa Sawyer</string>
		<key>name2</key>
		<string></string>
		<key>name3</key>
		<string></string>
		<key>phone1</key>
		<string>252-333-4795</string>
		<key>phone2</key>
		<string></string>
	</dict>
	<dict>
		<key>county</key>
		<string>Cherokee</string>
		<key>email1</key>
		<string>shannon_coleman@ncsu.edu</string>
		<key>email2</key>
		<string></string>
		<key>email3</key>
		<string></string>
		<key>name1</key>
		<string>Shannon Coleman</string>
		<key>name2</key>
		<string>Lance Bristol</string>
		<key>name3</key>
		<string>James Vaught</string>
		<key>phone1</key>
		<string>828-837-2210</string>
		<key>phone2</key>
		<string></string>
	</dict>
	<dict>
		<key>county</key>
		<string>Chowan</string>
		<key>email1</key>
		<string>beth_stanley@ncsu.edu</string>
		<key>email2</key>
		<string></string>
		<key>email3</key>
		<string></string>
		<key>name1</key>
		<string>Beth Stanley</string>
		<key>name2</key>
		<string></string>
		<key>name3</key>
		<string></string>
		<key>phone1</key>
		<string>252-482-6585</string>
		<key>phone2</key>
		<string></string>
	</dict>
	<dict>
		<key>county</key>
		<string>Davidson</string>
		<key>email1</key>
		<string>ppiatkowski@davidson.k12.nc.us</string>
		<key>email2</key>
		<string>jbrinkley@davidson.k12.nc.us</string>
		<key>email3</key>
		<string></string>
		<key>name1</key>
		<string>Paul Piatkowski</string>
		<key>name2</key>
		<string>Jennifer Brinkley</string>
		<key>name3</key>
		<string></string>
		<key>phone1</key>
		<string></string>
		<key>phone2</key>
		<string></string>
	</dict>
	<dict>
		<key>county</key>
		<string>Davie</string>
		<key>email1</key>
		<string>lyndsie_young@ncsu.edu</string>
		<key>email2</key>
		<string>jami_lawhon@ncsu.edu</string>
		<key>email3</key>
		<string></string>
		<key>name1</key>
		<string>Lyndsie Young</string>
		<key>name2</key>
		<string>Jami Lawhon</string>
		<key>name3</key>
		<string></string>
		<key>phone1</key>
		<string>336-753-6100</string>
		<key>phone2</key>
		<string></string>
	</dict>
	<dict>
		<key>county</key>
		<string>Haywood</string>
		<key>email1</key>
		<string>tim_mathews@ncsu.edu</string>
		<key>email2</key>
		<string></string>
		<key>email3</key>
		<string></string>
		<key>name1</key>
		<string>Tim Mathews</string>
		<key>name2</key>
		<string></string>
		<key>name3</key>
		<string></string>
		<key>phone1</key>
		<string>828-456-3575</string>
		<key>phone2</key>
		<string></string>
	</dict>
	<dict>
		<key>county</key>
		<string>Hertford</string>
		<key>email1</key>
		<string>wendy_drake@ncsu.edu</string>
		<key>email2</key>
		<string></string>
		<key>email3</key>
		<string></string>
		<key>name1</key>
		<string>Wendy Drake</string>
		<key>name2</key>
		<string></string>
		<key>name3</key>
		<string></string>
		<key>phone1</key>
		<string>252-358-7822</string>
		<key>phone2</key>
		<string></string>
	</dict>
	<dict>
		<key>county</key>
		<string>Johnston</string>
		<key>email1</key>
		<string>lori_mcbryde@ncsu.edu</string>
		<key>email2</key>
		<string></string>
		<key>email3</key>
		<string></string>
		<key>name1</key>
		<string>Lori McByrde</string>
		<key>name2</key>
		<string></string>
		<key>name3</key>
		<string></string>
		<key>phone1</key>
		<string>919-989-5380</string>
		<key>phone2</key>
		<string></string>
	</dict>
	<dict>
		<key>county</key>
		<string>Lincoln</string>
		<key>email1</key>
		<string>kristi_johnsen@gmail.com</string>
		<key>email2</key>
		<string>april_dillon@ncsu.edu</string>
		<key>email3</key>
		<string></string>
		<key>name1</key>
		<string>Kristi Johnsen</string>
		<key>name2</key>
		<string>April Dillon</string>
		<key>name3</key>
		<string></string>
		<key>phone1</key>
		<string>704-308-0911</string>
		<key>phone2</key>
		<string>704-736-8458</string>
	</dict>
	<dict>
		<key>county</key>
		<string>Madison</string>
		<key>email1</key>
		<string>eve_kindley@ncsu.edu</string>
		<key>email2</key>
		<string></string>
		<key>email3</key>
		<string></string>
		<key>name1</key>
		<string>Eve Kindley</string>
		<key>name2</key>
		<string></string>
		<key>name3</key>
		<string></string>
		<key>phone1</key>
		<string>828-649-2411</string>
		<key>phone2</key>
		<string></string>
	</dict>
	<dict>
		<key>county</key>
		<string>Mitchell</string>
		<key>email1</key>
		<string>jeff_vance@ncsu.edu</string>
		<key>email2</key>
		<string>robbie_potter@ncsu.edu</string>
		<key>name1</key>
		<string>Jeff Vance</string>
		<key>name2</key>
		<string>Robbie Potter</string>
		<key>name3</key>
		<string></string>
		<key>phone1</key>
		<string>828- 688-4811</string>
		<key>phone2</key>
		<string></string>
	</dict>
	<dict>
		<key>county</key>
		<string>Montgomery</string>
		<key>email1</key>
		<string>jamie_warner@ncsu.edu </string>
		<key>email2</key>
		<string></string>
		<key>name1</key>
		<string>Jamie Warner</string>
		<key>name2</key>
		<string></string>
		<key>name3</key>
		<string></string>
		<key>phone1</key>
		<string>910-576-6011</string>
		<key>phone2</key>
		<string></string>
	</dict>
	<dict>
		<key>county</key>
		<string>Northampton</string>
		<key>email1</key>
		<string>caroline_brown@ncsu.edu </string>
		<key>email2</key>
		<string></string>
		<key>name1</key>
		<string>Caroline Brown</string>
		<key>name2</key>
		<string></string>
		<key>name3</key>
		<string></string>
		<key>phone1</key>
		<string>252-534-2831</string>
		<key>phone2</key>
		<string></string>
	</dict>
	<dict>
		<key>county</key>
		<string>Pasquotank</string>
		<key>email1</key>
		<string>mason_lawrence@ncsu.edu </string>
		<key>email2</key>
		<string></string>
		<key>name1</key>
		<string>Mason Lawerence</string>
		<key>name2</key>
		<string></string>
		<key>name3</key>
		<string></string>
		<key>phone1</key>
		<string>252-338-3954</string>
		<key>phone2</key>
		<string></string>
	</dict>
	<dict>
		<key>county</key>
		<string>Person</string>
		<key>email1</key>
		<string>kingb@person.k12.nc.us</string>
		<key>email2</key>
		<string>hardtd@person.k12.nc.us</string>
		<key>name1</key>
		<string>Barbara King</string>
		<key>name2</key>
		<string>David Hardt</string>
		<key>name3</key>
		<string></string>
		<key>phone1</key>
		<string>336-599-8321</string>
		<key>phone2</key>
		<string></string>
	</dict>
	<dict>
		<key>county</key>
		<string>Pitt</string>
		<key>email1</key>
		<string>patricia_cahoon@ncsu.edu </string>
		<key>email2</key>
		<string></string>
		<key>name1</key>
		<string>Patricia Cahoon</string>
		<key>name2</key>
		<string></string>
		<key>name3</key>
		<string></string>
		<key>phone1</key>
		<string>252-902-1712</string>
		<key>phone2</key>
		<string></string>
	</dict>
	<dict>
		<key>county</key>
		<string>Robeson</string>
		<key>email1</key>
		<string>sadejarn@ncsu.edu </string>
		<key>email2</key>
		<string></string>
		<key>name1</key>
		<string>Shea Ann DeJarnette</string>
		<key>name2</key>
		<string></string>
		<key>name3</key>
		<string></string>
		<key>phone1</key>
		<string>910-671-3276</string>
		<key>phone2</key>
		<string></string>
	</dict>
	<dict>
		<key>county</key>
		<string>Rowan</string>
		<key>email1</key>
		<string>sara_drake@ncsu.edu </string>
		<key>email2</key>
		<string></string>
		<key>name1</key>
		<string>Sara Drake</string>
		<key>name2</key>
		<string></string>
		<key>name3</key>
		<string></string>
		<key>phone1</key>
		<string>704-216-8970</string>
		<key>phone2</key>
		<string></string>
	</dict>
	<dict>
		<key>county</key>
		<string>Rutherford</string>
		<key>email1</key>
		<string>cynthia_robbins@ncsu.edu </string>
		<key>email2</key>
		<string></string>
		<key>name1</key>
		<string>Cynthia Robbins</string>
		<key>name2</key>
		<string></string>
		<key>name3</key>
		<string></string>
		<key>phone1</key>
		<string>828-287-6190</string>
		<key>phone2</key>
		<string></string>
	</dict>
	<dict>
		<key>county</key>
		<string>Sampson</string>
		<key>email1</key>
		<string>amanda_bradshaw@ncsu.edu </string>
		<key>email2</key>
		<string></string>
		<key>name1</key>
		<string>Amanda Bradshaw</string>
		<key>name2</key>
		<string></string>
		<key>name3</key>
		<string></string>
		<key>phone1</key>
		<string>910-592-7161</string>
		<key>phone2</key>
		<string></string>
	</dict>
	<dict>
		<key>county</key>
		<string>Stanly</string>
		<key>email1</key>
		<string>ashley_t_smith@ncsu.edu </string>
		<key>email2</key>
		<string></string>
		<key>name1</key>
		<string>Ashley Smith</string>
		<key>name2</key>
		<string></string>
		<key>name3</key>
		<string></string>
		<key>phone1</key>
		<string>704-983-3987</string>
		<key>phone2</key>
		<string></string>
	</dict>
	<dict>
		<key>county</key>
		<string>Stokes</string>
		<key>email1</key>
		<string>matthew_barber@ncsu.edu</string>
		<key>email2</key>
		<string>Randy_fulk@ncsu.edu</string>
		<key>name1</key>
		<string>Matthew Barber</string>
		<key>name2</key>
		<string>Randy Fulk</string>
		<key>name3</key>
		<string></string>
		<key>phone1</key>
		<string></string>
		<key>phone2</key>
		<string></string>
	</dict>
	<dict>
		<key>county</key>
		<string>Union</string>
		<key>email1</key>
		<string>labyrd@ncsu.edu</string>
		<key>email2</key>
		<string>richard_goforth@ncsu.edu</string>
		<key>name1</key>
		<string>Laura Byrd</string>
		<key>name2</key>
		<string>Richard Goforth</string>
		<key>name3</key>
		<string></string>
		<key>phone1</key>
		<string>704-283-3801</string>
		<key>phone2</key>
		<string></string>
	</dict>
	<dict>
		<key>county</key>
		<string>Warren</string>
		<key>email1</key>
		<string>erin_bain@ncsu.edu </string>
		<key>email2</key>
		<string></string>
		<key>name1</key>
		<string>Erin Bain</string>
		<key>name2</key>
		<string></string>
		<key>name3</key>
		<string></string>
		<key>phone1</key>
		<string>252-257-3640</string>
		<key>phone2</key>
		<string></string>
	</dict>
	<dict>
		<key>county</key>
		<string>Wayne</string>
		<key>email1</key>
		<string>wallace_simmons@ncsu.edu </string>
		<key>email2</key>
		<string></string>
		<key>name1</key>
		<string>Wallace Simmons</string>
		<key>name2</key>
		<string></string>
		<key>name3</key>
		<string></string>
		<key>phone1</key>
		<string>919-731-1521</string>
		<key>phone2</key>
		<string></string>
	</dict>
	<dict>
		<key>county</key>
		<string>Wilkes</string>
		<key>email1</key>
		<string>natasha.evans@gmail.com</string>
		<key>email2</key>
		<string>dmillsaps@millerscreekchristianschool.org</string>
		<key>name1</key>
		<string>Natasha Evans</string>
		<key>name2</key>
		<string>Donna Millsaps</string>
		<key>name3</key>
		<string></string>
		<key>phone1</key>
		<string></string>
		<key>phone2</key>
		<string></string>
	</dict>
	<dict>
		<key>county</key>
		<string>Wilson</string>
		<key>email1</key>
		<string>vanessa_spiron@ncsu.edu </string>
		<key>name1</key>
		<string>Vanessa Spiron</string>
		<key>name2</key>
		<string></string>
		<key>name3</key>
		<string></string>
		<key>phone1</key>
		<string>252-237-0111</string>
		<key>phone2</key>
		<string></string>
	</dict>
</array>
</plist>
